body{
    background: url("../images/bg-image.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: arial;
}

.container{
    width: 60%;
    height: 250px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 3px;
}

#timer{
    /* width: 100%; */
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}

.buttons{
    text-align: center;
}

button{
    margin: 0 10px;
    border: none
}

button i{
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    width: 50px;
    border-radius: 4px;
}

#play{
   background-color: #10439F;
}
#pause{
    background-color: #E65C19;
}
#reset{
    background-color: #B51B75;
}